# Python
__pycache__/
*.pyc
.env

# Virtual Environment
venv/

# Data and Secrets
master_analysis_data.csv
# Removed the original CSV ignore line so you can commit the raw file
# for full project transparency, if you wish.
# If you decide not to commit the raw data, use: Womens Clothing E-Commerce Reviews.csv

.DS_Store

# PyCharm files
.idea/